nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    border-bottom: 2px solid #f3f3f3;
    padding: 20px;
}

input {
    padding: 12px 20px;
    border: none;
    background-color: #f3efef;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    outline: none;
    width: 14rem;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
    color: rgb(41, 40, 40);
}